<h1><%= @wiki.title %></h1>

<div class="row">
    <div class="col-md-8">
        <p><%= link_to markdown(@wiki.body).html_safe %></p>
        <h4> Private? <%= @wiki.private %></h4>
        <h4> Collaborators: <% if current_user.admin? || current_user.id == @wiki.user_id? %>
          <% @wiki.collaborators.each do |collaborator| %>
              <%= user.email %>
            <% end %>
          <% end %>
      </h4>
    </div>


    <div class="col-md-4">
        <%= link_to "Edit", edit_wiki_path(@wiki), class: 'btn btn-success' if policy(@wiki).update? %>
        <%= link_to "Delete Wiki", @wiki, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this wiki?'} if policy(@wiki).destroy? %>
    </div>
</div>
